.scroll-top {
	bottom: 50px;
	cursor: pointer;
	height: 40px;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 40px;
	z-index: 9999;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	border-radius: 4px;
	background-color: #62d2a2;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.scroll-top i {
	line-height: 40px;
	color: #fff;
	font-size: 25px;
}

.scroll-top.not-visible {
	bottom: -50px;
	visibility: hidden;
	opacity: 0;
}