.breadcrumb-area {
    background-image: url("https://ratul-sarkar.github.io/Tafree/images/banner-breadcrumb-banner.jpg");
    background-size: cover;
}

@media only screen and (max-width: 575.98px) {
	.breadcrumb-area {
		background-position: center;
	}
}

.breadcrumb-wrap {
	padding: 35px 0;
}

.breadcrumb-wrap nav h2 {
	color: #333333;
	font-size: 36px;
	line-height: 1;
	padding-bottom: 20px;
	display: inline-block;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 575.98px) {
	.breadcrumb-wrap nav h2 {
		font-size: 28px;
	}
}

.breadcrumb-wrap nav .breadcrumb {
	background: transparent;
	margin-bottom: 0;
	padding: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.breadcrumb-wrap nav .breadcrumb .breadcrumb-item a {
	color: #333333;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	text-transform: capitalize;
}

.breadcrumb-wrap nav .breadcrumb .breadcrumb-item a:hover {
	color: #62d2a2;
}

.breadcrumb-wrap nav .breadcrumb .breadcrumb-item.active {
	color: #666666;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	text-transform: capitalize;
}

.breadcrumb-wrap nav .breadcrumb .breadcrumb-item:first-child::before {
	display: none;
}