.single-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.single-item:last-child {
	margin-bottom: 0;
}

.single-item .product-thumb {
	max-width: 148px;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 148px;
	flex: 1 0 148px;
	max-height: 148px;
	border: 1px solid #e5e5e5;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

@media only screen and (max-width: 479.98px) {
	.single-item .product-thumb {
		max-width: 80px;
		max-height: 80px;
	}
}

.single-item:hover .quick-view-link a {
	opacity: 1;
	visibility: visible;
}

.single-item:hover .product-thumb {
	border-color: #62d2a2;
}

.single-item:hover .product-thumb:before {
	opacity: 1;
	visibility: visible;
}

.single-item .product-description {
	padding-left: 20px;
}

.single-item .product-description .tag-cate {
	margin-bottom: 5px;
}

.single-item .product-description .tag-cate a {
	color: #8f8f8f;
	font-size: 11px;
	line-height: 26px;
	background-color: #eaeaea;
	padding: 0 15px;
	text-transform: uppercase;
	border-radius: 4px;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 10px;
}

@media only screen and (max-width: 479.98px) {
	.single-item .product-description .tag-cate a {
		margin-bottom: 0;
	}
}

.single-item .product-description .tag-cate a:hover {
	color: #fff;
	background-color: #62d2a2;
}

.single-item .product-description .product-name h4 {
	padding-bottom: 15px;
	margin-bottom: 10px;
	position: relative;
	text-transform: capitalize;
}

@media only screen and (max-width: 479.98px) {
	.single-item .product-description .product-name h4 {
		padding-bottom: 5px;
		margin-bottom: 5px;
		font-size: 16px;
		line-height: 1.2;
	}
}

.single-item .product-description .product-name h4 a {
	color: #333333;
}

.single-item .product-description .product-name h4 a:hover {
	color: #62d2a2;
}

.single-item .product-description .product-name h4:before {
	bottom: 0;
	left: 0;
	width: 40px;
	content: "";
	position: absolute;
	height: 1px;
	background-color: #e5e5e5;
}

.single-item .product-description .price-box .regular-price {
	color: #62d2a2;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	font-family: 'Poppins', sans-serif;
}

.single-item .product-description .price-box .old-price {
	color: #8f8f8f;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	padding-left: 5px;
	font-family: 'Poppins', sans-serif;
}

.single-item__footer-category .product-thumb {
	max-width: 80px;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 80px;
	flex: 1 0 80px;
	max-height: 80px;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
	.single-item__footer-category .product-description .product-name h4 {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	.single-item__footer-category .product-description .product-name .h5 {
		font-size: 16px;
	}
}
