*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body {
	font-size: 15px;
	line-height: 1.8;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	color: #666666;
}

a {
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

a:hover,
a:focus {
	color: #62d2a2;
	outline: none;
	text-decoration: none;
}

p {
	margin-bottom: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 700;
	color: #333333;
	margin-bottom: 0;
}

.h5 {
	font-size: 17px;
	line-height: 1.3;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

strong,
b {
	font-weight: 700;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

button:active,
button:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input:focus,
textarea:focus {
	outline: none;
}

fieldset {
	margin-top: 30px;
}

fieldset legend {
	border-bottom: 1px solid #e7e7e7;
	color: #000;
	font-size: 24px;
	padding-bottom: 10px;
	text-transform: capitalize;
}

::-moz-selection {
	color: #fff;
	background: #91b2c3;
}

::selection {
	color: #fff;
	background: #91b2c3;
}

::-webkit-input-placeholder {
	color: #999;
	font-size: 13px;
	font-style: italic;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #999;
	font-size: 13px;
	font-style: italic;
	opacity: 1;
}

::-ms-input-placeholder {
	color: #999;
	font-size: 13px;
	font-style: italic;
	opacity: 1;
}

::placeholder {
	color: #999;
	font-size: 13px;
	font-style: italic;
	opacity: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
	.modal-dialog {
		max-width: 700px;
	}
}

.modal {
	display: block !important;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: -99;
}

.modal.show {
	opacity: 1;
	visibility: visible;
	pointer-events: visible;
	z-index: 99999999;
	-webkit-animation: slideInDown 0.4s forwards;
	animation: slideInDown 0.4s forwards;
}

.modal .modal-header {
	padding: 0 10px;
	border-bottom: none;
}

.modal .modal-header .close {
	color: #333333;
	font-size: 34px;
	opacity: 1;
	display: block;
	position: absolute;
	padding: 0;
	width: 30px;
	height: 30px;
	margin: 0;
	right: 10px;
	top: 10px;
	font-weight: 500;
	z-index: 999;
	line-height: 30px;
	border-radius: 50%;
}

.modal .modal-body {
	padding: 20px 20px 20px 20px;
}

@media only screen and (max-width: 479.98px) {
	.modal .modal-body {
		padding: 10px;
	}
}

/* ----tab problem fix css ----*/
.tab-content .tab-pane {
	display: block;
	height: 0;
	max-width: 100%;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
}

.tab-content .tab-pane.active {
	height: auto;
	opacity: 1;
	overflow: visible;
	visibility: visible;
}
.btn {
	border-radius: 0;
	font-size: 14px;
	font-weight: 600;
	color: #62d2a2;
	text-transform: uppercase;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	display: inline-block;
	padding: 8px 25px 5px;
	border: 1px solid #62d2a2;
}

.btn:hover {
	color: #fff;
	background-color: #62d2a2;
}

.btn__bg {
	color: #fff;
	font-size: 16px;
	border-radius: 4px;
	background-color: #62d2a2;
}

.btn__bg:hover {
	border-color: #fb8800;
	background-color: #fb8800;
}

.btn__sqr {
	border-radius: 0;
}

.btn__shop {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	border-color: #fff;
	border-radius: 4px;
	font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 575.98px) {
	.btn__shop {
		padding: 6px 15px;
	}
}

.btn__shop:hover {
	color: #333333;
	border-color: #fff;
	background-color: #fff;
}

.btn__no-border {
	border: 0;
	font-size: 18px;
	font-weight: 700;
	text-decoration: underline;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	padding: 0;
}

.btn__no-border:hover {
	color: #62d2a2 !important;
	background-color: transparent !important;
	text-decoration: underline;
}

.btn__bg-black {
	color: #fff !important;
	background-color: #333333;
}

.btn__bg-black:hover {
	border-color: #62d2a2 !important;
	background-color: #62d2a2 !important;
}

.btn__bg-brand {
	color: #fff;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	border-color: #62d2a2;
	background-color: #62d2a2;
	border-radius: 4px;
}

@media only screen and (max-width: 479.98px) {
	.btn__bg-brand {
		padding: 6px 15px;
	}
}

.btn__learn-more {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	border-radius: 4px;
	padding: 5px 20px;
	font-family: 'Poppins', sans-serif;
	background-color: #62d2a2;
	text-transform: capitalize;
}

.btn__learn-more:hover {
	border-color: #333333;
	background-color: #333333;
}

@media only screen and (max-width: 575.98px) {
	.btn__learn-more {
		font-size: 16px;
		padding: 5px 15px;
	}
}

.btn__btn-gray {
	color: #333333;
	font-size: 15px;
	padding: 12px 30px;
	border: none;
	border-radius: 3px;
	background-color: #ebebeb;
	text-transform: uppercase;
}
.fix {
	overflow-x: hidden;
}

.bdr-top {
	border-top: 1px solid #e5e5e5;
}

.bg-gray {
	background-color: #f3f6f5;
}

.theme-color {
	background-color: #62d2a2;
}

.color1 {
	background-color: #c3ead5;
}

.color2 {
	background-color: #f3cd97;
}

.color3 {
	background-color: #95e0d2;
}

.color4 {
	background-color: #fa8383;
}

.c-red {
	background: red;
}

.c-gray {
	background: gray;
}

.c-blue {
	background: blue;
}

.c-brown {
	background: brown;
}

.c-black {
	background: black;
}
.section-title {
	padding-bottom: 30px;
}

.section-title h2 {
	color: #333333;
	font-size: 36px;
	line-height: 1.2;
	position: relative;
	display: inline-block;
	padding-bottom: 15px;
	margin-top: -8px;
	text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 575.98px) {
	.section-title h2 {
		font-size: 24px;
		margin-top: -5px;
	}
}

.section-title h2:after {
	bottom: 0;
	left: 0;
	width: 66px;
	right: 0;
	height: 2px;
	content: "";
	display: block;
	margin: auto;
	position: absolute;
	background-color: #62d2a2;
}

.section-title__2 h2 {
	font-size: 28px;
	margin-top: -6px;
}

@media only screen and (max-width: 575.98px) {
	.section-title__2 h2 {
		font-size: 24px;
		margin-top: -5px;
	}
}

.section-title__2 h2:after {
	left: 0;
	margin: inherit;
}

.single-input-item {
	margin-top: 20px;
}

.single-input-item label {
	color: #333333;
	text-transform: capitalize;
	font-size: 14px;
}

.single-input-item label.required:after {
	content: '*';
	color: red;
	font-size: 14px;
	margin-left: 3px;
	margin-top: 5px;
}

.single-input-item input,
.single-input-item textarea {
	color: #666666;
	border: 1px solid #ccc;
	padding: 12px 10px;
	width: 100%;
	font-size: 14px;
	background: #f7f7f7;
}

.single-input-item input:active,
.single-input-item input:focus,
.single-input-item textarea:active,
.single-input-item textarea:focus {
	border-color: #62d2a2;
	background-color: #fff;
}

.single-input-item .nice-select {
	width: 100%;
	border-radius: 0;
	height: 48px;
	border-color: #ccc;
	background-color: #f7f7f7;
}

.single-input-item .nice-select .current {
	color: #666666;
}

.single-input-item .nice-select .list {
	max-height: 200px;
	overflow: auto;
	width: 100%;
}

/*------- input box style css end -------*/
/*-------- Custom Checkbox Style start --------*/
.custom-checkbox label,
.custom-checkbox .custom-control-label,
.custom-radio label,
.custom-radio .custom-control-label {
	color: #333333;
	font-size: 14px;
	line-height: 1;
	padding-left: 10px;
	display: block;
	cursor: pointer;
}

.custom-checkbox label:before,
.custom-checkbox .custom-control-label:before,
.custom-radio label:before,
.custom-radio .custom-control-label:before {
	background-color: #ddd;
	border: 1px solid #ddd;
	border-radius: 0;
	height: 15px;
	top: 0;
	width: 15px;
}

.custom-checkbox label:after,
.custom-checkbox .custom-control-label:after,
.custom-radio label:after,
.custom-radio .custom-control-label:after {
	background-size: 10px 10px;
	height: 15px;
	top: 0;
	width: 15px;
}

.custom-checkbox label a,
.custom-checkbox .custom-control-label a,
.custom-radio label a,
.custom-radio .custom-control-label a {
	color: #333333;
	font-weight: 500;
}

.custom-checkbox label a:hover,
.custom-checkbox .custom-control-label a:hover,
.custom-radio label a:hover,
.custom-radio .custom-control-label a:hover {
	color: #62d2a2;
}

.custom-checkbox input,
.custom-checkbox .custom-control-input,
.custom-radio input,
.custom-radio .custom-control-input {
	outline: none;
}

.custom-checkbox input:focus~.custom-control-label:before,
.custom-checkbox input:focus label:before,
.custom-checkbox .custom-control-input:focus~.custom-control-label:before,
.custom-checkbox .custom-control-input:focus label:before,
.custom-radio input:focus~.custom-control-label:before,
.custom-radio input:focus label:before,
.custom-radio .custom-control-input:focus~.custom-control-label:before,
.custom-radio .custom-control-input:focus label:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.custom-checkbox input:checked~.custom-control-label:before,
.custom-checkbox input:checked label:before,
.custom-checkbox .custom-control-input:checked~.custom-control-label:before,
.custom-checkbox .custom-control-input:checked label:before,
.custom-radio input:checked~.custom-control-label:before,
.custom-radio input:checked label:before,
.custom-radio .custom-control-input:checked~.custom-control-label:before,
.custom-radio .custom-control-input:checked label:before {
	background-color: #62d2a2;
	border-color: #62d2a2;
}

/*-------- Custom Checkbox Style end --------*/
/*------- Custom Radio Button Style start -------*/
.custom-radio label:before,
.custom-radio .custom-control-label:before {
	border-radius: 50%;
	height: 14px;
	width: 14px;
}

.custom-radio label::after,
.custom-radio .custom-control-label::after {
	background-position: 1px 1px;
	background-size: 9px 8px;
	left: -22px;
	top: 2px;
	height: 10px;
	width: 10px;
}


