.myaccount-tab-menu {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.myaccount-tab-menu a {
	border: 1px solid #ccc;
	border-bottom: none;
	color: #333333;
	font-weight: 500;
	font-size: 15px;
	display: block;
	padding: 10px 15px;
	text-transform: uppercase;
}

.myaccount-tab-menu a:last-child {
	border-bottom: 1px solid #ccc;
}

.myaccount-tab-menu a:hover,
.myaccount-tab-menu a.active {
	background-color: #62d2a2;
	border-color: #62d2a2;
	color: #fff;
}

.myaccount-tab-menu a i.fa {
	font-size: 14px;
	text-align: center;
	width: 25px;
}

@media only screen and (max-width: 767.98px) {
	#myaccountContent {
		margin-top: 30px;
	}
}

.myaccount-content {
	border: 1px solid #eeeeee;
	padding: 30px;
}

@media only screen and (max-width: 575.98px) {
	.myaccount-content {
		padding: 20px 15px;
	}
}

.myaccount-content form {
	margin-top: -20px;
}

.myaccount-content h3 {
	font-size: 20px;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
	margin-bottom: 25px;
	font-weight: 500;
}

.myaccount-content .welcome a {
	color: #333333;
}

.myaccount-content .welcome a:hover {
	color: #62d2a2;
}

.myaccount-content .welcome strong {
	font-weight: 600;
	color: #62d2a2;
}

.myaccount-content fieldset {
	margin-top: 20px;
}

.myaccount-content fieldset legend {
	color: #333333;
	font-size: 20px;
	margin-top: 20px;
	font-weight: 500;
	border-bottom: 1px dashed #ccc;
}

.myaccount-table {
	white-space: nowrap;
	font-size: 14px;
}

.myaccount-table table th,
.myaccount-table .table th {
	color: #333333;
	padding: 10px;
	font-weight: 500;
	background-color: #f8f8f8;
	border-color: #ccc;
	border-bottom: 0;
}

.myaccount-table table td,
.myaccount-table .table td {
	padding: 10px;
	vertical-align: middle;
	border-color: #ccc;
}

.saved-message {
	background-color: #f4f5f7;
	border-top: 3px solid #62d2a2;
	border-radius: 5px 5px 0 0;
	font-weight: 600;
	font-size: 15px;
	color: #666666;
	padding: 20px;
}