/*----- shop Sidebar start -----*/
.sidebar-wrapper .sidebar-single:last-child {
	margin-bottom: 0;
}

.sidebar-single {
	margin-bottom: 35px;
}

.sidebar-single .sidebar-title {
	margin-bottom: 20px;
	position: relative;
	/* &:before {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            content: "";
            position: absolute;
            background-color: $bdr-color;
        } */
}

.sidebar-single .sidebar-title h3 {
	color: #333333;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	margin-top: -3px;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
}

/*----- Sidebar Category start -----*/
.sidebar-category li>a {
	font-size: 15px;
	color: #333333;
	text-transform: capitalize;
	line-height: 18px;
	position: relative;
	display: block;
	padding: 18px 10px 15px;
	border-bottom: 1px solid #fff;
	background-color: #f8f8f8;
}

.sidebar-category li>a:hover {
	color: #fff;
	background-color: #62d2a2;
}

.sidebar-category li.has-children>a::before {
	top: 50%;
	right: 10px;
	content: "\f489";
	font-size: 20px;
	font-weight: 500;
	position: absolute;
	font-family: 'Poppins', sans-serif;
	text-align: right;
	-webkit-transform: translateY(-37%);
	-ms-transform: translateY(-37%);
	transform: translateY(-37%);
}

.sidebar-category li ul li {
	border: none;
}

.sidebar-category li ul li a {
	font-size: 14px;
	text-transform: capitalize;
	padding: 10px 32px 12px;
}

/*----- Sidebar Category start -----*/
/*------ pricing filter slider start ------*/
.price-range-wrap {
	padding-top: 8px;
}

.price-range-wrap .price-range {
	border-radius: 0;
	margin-right: 13px;
	margin-bottom: 20px;
}

.price-range-wrap .price-range.ui-widget-content {
	border: none;
	background: #eeeeee;
	height: 10px;
	border-radius: 20px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-range {
	background-color: #62d2a2;
	border-radius: 0;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
	border: none;
	background-color: #fff;
	height: 20px;
	width: 20px;
	outline: none;
	top: -5px;
	cursor: ew-resize;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle:before {
	top: 50%;
	left: 50%;
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	background-color: #62d2a2;
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.price-range-wrap .range-slider {
	color: #333333;
	margin-top: 22px;
}

.price-range-wrap .range-slider .price-input {
	margin-bottom: 20px;
}

.price-range-wrap .range-slider .price-input label {
	color: #333333;
	margin-bottom: 0;
}

.price-range-wrap .range-slider .price-input input {
	color: #666666;
	border: none;
	outline: none;
	max-width: 80px;
	pointer-events: none;
}

.price-range-wrap .range-slider button.filter-btn {
	border: none;
	color: #333333;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
	text-transform: uppercase;
	line-height: 36px;
	padding: 0 15px;
	border-radius: 3px;
	background-color: #ebebeb;
}

.price-range-wrap .range-slider button.filter-btn:hover {
	color: #fff;
	background-color: #62d2a2;
}

/*------ pricing filter slider end ------*/
/*----- color list area start -----*/
.color-list li,
.size-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 1px solid #e5e5e5;
}

.color-list li:last-child,
.size-list li:last-child {
	border-bottom: none;
}

.color-list li:last-child a,
.size-list li:last-child a {
	padding-bottom: 0;
}

.color-list li:first-child a,
.size-list li:first-child a {
	padding-top: 0;
}

.color-list li a,
.size-list li a {
	color: #333333;
	font-size: 15px;
	line-height: 1.5;
	padding: 13px 0;
	display: inline-block;
	text-transform: capitalize;
}

.color-list li a:hover,
.size-list li a:hover {
	color: #62d2a2;
}

.color-list li span,
.size-list li span {
	font-size: 12px;
	color: #666666;
}

/*----- color list area end -----*/
/*----- sidebar banner start -----*/
@media only screen and (max-width: 767.98px) {
	.sidebar-banner img {
		width: 100%;
	}
}

.shop-top-bar {
	padding-bottom: 30px;
}

.top-bar-left {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media only screen and (max-width: 767.98px) {
	.top-bar-left .product-view-mode {
		text-align: center;
		margin-top: 15px;
	}
}

.top-bar-left .product-view-mode a {
	color: #fff;
	background-color: #9e9e9e;
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
}

.top-bar-left .product-view-mode a i {
	line-height: 44px;
	font-size: 20px;
}

.top-bar-left .product-view-mode a:hover {
	background-color: #62d2a2;
}

.top-bar-left .product-view-mode a.active {
	background-color: #62d2a2;
}

.top-bar-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media only screen and (max-width: 479.98px) {
	.top-bar-right {
		display: block;
		text-align: center;
	}
}

.top-bar-right .product-short {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media only screen and (max-width: 479.98px) {
	.top-bar-right .product-short {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-bottom: 15px;
	}
}

.top-bar-right .product-short p {
	margin-right: 10px;
}

@media only screen and (max-width: 575.98px) {
	.top-bar-right .product-short p {
		font-size: 14px;
	}
}

.top-bar-right .product-amount p {
	color: #666666;
	text-transform: capitalize;
}

@media only screen and (max-width: 575.98px) {
	.top-bar-right .product-amount p {
		font-size: 14px;
	}
}

.nice-select {
	width: 200px;
	padding: 0 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
	.nice-select {
		width: 170px;
	}
}

.nice-select.open {
	border-color: #62d2a2;
}

.nice-select .list {
	right: 0;
	left: auto;
	width: 100%;
}

.nice-select .option {
	font-size: 13px;
	line-height: 34px;
	min-height: 34px;
}

/*----- shop main wrapper end -----*/
.shop-product-wrap.list-view .product-item {
	display: none;
}

.shop-product-wrap.grid-view .product-item {
	display: block;
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.shop-product-wrap.grid-view .product-list-item {
	display: none !important;
}

.shop-product-wrap.list-view .product-list-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.shop-product-wrap.row.list-view .col-lg-4,
.shop-product-wrap.row.list-view .col-lg-3,
.shop-product-wrap.row.list-view .col-md-3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.paginatoin-area {
	padding: 20px 0 18px;
	border: 1px solid #e5e5e5;
}

.paginatoin-area .pagination-box li {
	display: inline-block;
	margin-right: 10px;
}

.paginatoin-area .pagination-box li a {
	color: #333333;
	height: 40px;
	width: 40px;
	display: inline-block;
	padding: 0 10px;
	text-align: center;
	line-height: 37px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}

.paginatoin-area .pagination-box li a:hover {
	color: #fff;
	border-color: #62d2a2;
	background-color: #62d2a2;
}

.paginatoin-area .pagination-box li.active a {
	color: #fff;
	border-color: #62d2a2;
	background-color: #62d2a2;
}