.login-reg-form-wrap {
	background-color: #fff;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	padding: 23px 30px 30px;
}

@media only screen and (max-width: 575.98px) {
	.login-reg-form-wrap {
		padding: 23px 15px 30px;
	}
}

.login-reg-form-wrap h2 {
	font-weight: 500;
	font-size: 26px;
	line-height: 26px;
	text-transform: capitalize;
	color: #333333;
	border-bottom: #ccc;
	margin-bottom: 30px;
}

.login-reg-form-wrap h3 {
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	text-transform: capitalize;
	color: #333333;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.login-reg-form-wrap form .create-account {
	margin-top: 25px;
}

.login-reg-form-wrap .login-reg-form-meta a {
	color: #62d2a2;
}

.f-pass:hover{
	color: #62d2a2;
	transition: 0.5s;
}